:host{
    display: flex;
    font-size: 0.75em;
}
span{
    padding: .5em .75em;
    text-transform: uppercase;

}
.g-back-button{
    background: white;
    color: black;
    cursor: pointer;
    transition: background 0.25s, color 0.25s;
    &:hover{
      background: black;
      color: white;
    }
  }

  .g-image-name{
    background: black;
    color: white;
  }

  .g-directory-name{
    background: black;
    color: white;
  }

  .g-fullscreen{
    cursor: pointer;
    background: black;
    color: white;
    transition: background 0.25s, color 0.25s;
    &:hover{
      background: white;
      color: black;
    }
  }