<span (click)="gallery.selectDirectory(undefined)" class="g-back-button">
    <i class="material-icons">apps</i>
    <div>{{currentDirectory.name}}</div>
</span>
<span *ngIf="!currentImage.snapped" (click)="gallery.snapImage(currentImageIndex)" class="g-fullscreen"><i class="material-icons">playlist_add</i></span>
<span *ngIf="currentImage.snapped" (click)="gallery.snapImage(currentImageIndex)" class="g-fullscreen"><i class="material-icons">playlist_add_check</i></span>
<span class="g-directory-name">
    <span class="g-snapped-count" *ngIf="snappedCount > 0" (click)="gallery.displaySnappedImages()">{{snappedCount}} selected</span>
    <span>{{currentImage.text}}</span>
</span>
<span class="g-fullscreen" *ngIf="config.displayMode === 0"
      (click)="gallery.toggleFullscreen()"><i class="material-icons">call_to_action</i></span>
<span class="g-fullscreen" *ngIf="fullscreenEnabled"
      (click)="toggleFullscreen()"><i class="material-icons">fullscreen</i></span>