:host{
    display: flex;
    font-size: 0.75em;
    background: black;
}
span{
    padding: .5em .75em;
    text-transform: uppercase;

}

%state-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.g-back-button{
  @extend %state-button;
    background: white;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    font-size: 1.5em;
    font-weight: 100;
    cursor: pointer;
    transition: background 0.25s, color 0.25s;
    &:hover{
      background: black;
      color: white;
    }
    div {
      padding: 0em .5em;
    }
  }

  .g-image-name{
    background: black;
    color: white;
  }

  .g-directory-name{
    background: black;
    flex-grow: 1;
    align-self: center;
    color: white;
    div{
      padding: 0em 1em;
    }
  }

  .g-fullscreen{
    @extend %state-button;
    cursor: pointer;
    background: black;
    color: white;
    transition: background 0.25s, color 0.25s;
    &:hover{
      background: white;
      color: black;
    }
  }