<ng-container *ngIf="gallery.state | async as state">
    <gallery-snapped-state (onBack)="goBack()" [snappedCount]="getSnappedCount()" [config]="config" [state]="state"></gallery-snapped-state>
    <div class="g-thumb-container">
        <div
            class="g-thumb"
            *ngFor="let image of snappedImages; let i = index"
            [style.width.px]="gallery.config.thumbnails.width * 2"
            [style.height.px]="gallery.config.thumbnails.height * 2"
        >
            <div
                [class.deleted]="!image.snapped"
                class="g-thumb-image"
                [style.backgroundImage]="getThumbImage(i)"
            ></div>
            <div (click)="image.snapped ? remove(i) : restore(i)" class="g-thumb-delete">
                <i class="material-icons">{{ image.snapped === true ? "close" : "refresh" }}</i>
            </div>
        </div>
    </div>
</ng-container>
