@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background: #444;
}

app-root {
  height: 100%;
  gallery {
    display: flex;
    height: 100%;
    > div {
      display: flex;
      flex: 1;
      height: 100%;
    }
  }
}