<div class="images-container" *ngIf="images$ | async as images">
    <ng-container *ngIf="currentDirectoryId$ | async as directoryId">
        <div *ngFor="let columnImages of columnsImages" class="column">
            <div
                *ngFor="let image of columnImages"
                (click)="enableFullscreenMode(image.id, directoryId)"
                [style.flex]="image.height"
                class="image-container"
            >
                <img [src]="image.src" />
                <div class="background"></div>
            </div>
        </div>
    </ng-container>
</div>
<router-outlet></router-outlet>
<!-- <ng-container *ngIf="fullscreenModeEnabled$ | async as fullscreenModeEnabled"> -->
    <!-- <router-outlet class="images-fullscreen-container"></router-outlet> -->
    <!-- <gallery-images-fullscreen (onBack)="disableFullscreenMode()"></gallery-images-fullscreen> -->
    <!-- <div class="images-fullscreen-container">
    </div> -->
<!-- </ng-container> -->
