:host {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.g-directory-filler {
    flex: 1;
}

.g-directories-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .g-directory {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        flex-basis: 500px;
        flex-grow: 1;
        height: 350px;
        position: relative;
        user-select: none;
        overflow: hidden;

        @media (max-width: 480px) {
            flex-basis: 150px;
            height: 160px;
        }

        :after {
            content: "";
            padding: 20px;
            position: absolute;
            left: -10px;
            top: -10px;
        }

        &.visited {
            .g-directory-photo {
                filter: grayscale(1);
            }
            // .g-state-text {
            //     background: black;
            //     color: white;
            // }
        }

        &:hover {
            .g-directory-photo {
                transition: transform 4s linear;
                transition-delay: 500ms;
                transform: scale(1.1);
            }
            .g-state-text {
                background-color: rgba(0, 0, 0, 0.5);
                span {
                    border-bottom: 2px solid rgba(255, 255, 255, 1);
                    margin: 20px 20px 40px 60px;
                }
            }
        }

        .g-directory-background {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 90%, rgba(0, 0, 0, 0.8));
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .g-directory-photo {
            height: 100%;
            width: 100%;
            transition: transform 0.25s ease-out;
            position: absolute;
            display: inline-block;
            border-width: 0px;
            border-style: solid;
            filter: saturate(0.75);
            border-color: white;
            background-position: 50%;
            background-size: cover;
            user-select: none;
            // @media (max-width: 480px) {
            //     // width: 112px;
            //     height: 160px;
            // }
        }
        .g-state-text {
            display: flex;
            justify-content: flex-start;
            transition: background-color 0.5s linear;
            align-items: flex-end;

            span {
                border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                padding-bottom: 10px;
                margin: 00px 20px 20px 60px;
                transition: border-bottom, margin 0.25s ease-out;
                @media (max-width: 480px) {
                    margin: 0px;
                }
            }

            color: white;
            font-weight: bolder;
            // background: white;
            user-select: none;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            position: absolute;
            font-size: 1.5em;
            padding: 14px;
            @media (max-width: 480px) {
                // font-size: 0.65em;
            }
        }
    }
}
