:host {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.g-directory-filler {
    flex: 1;
}

.g-directories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .g-directory {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin: 12px;

        box-shadow: 0 0 14px rgba(0, 0, 0, 0.75);

        :after {
            content: "";
            padding: 20px;
            position: absolute;
            left: -10px;
            top: -10px;
        }

        &.visited {
            .g-directory-photo {
                border-color: black;
                filter: grayscale(1);
            }
            .g-state-text {
                background: black;
                color: white;
            }
        }

        .g-directory-photo {
            display: inline-block;
            width: 300px;
            height: 220px;
            border-width: 8px 8px 0px 8px;
            border-style: solid;
            border-color: white;
            background-position: 50%;
            background-size: cover;
            @media (max-width: 480px) {
                width: 112px;
                height: 80px;
            }
        }
        .g-state-text {
            box-shadow: 0 0 14px transparent;
            display: flex;
            justify-content: center;
            background: white;
            text-transform: uppercase;
            font-size: 0.75em;
            padding: 8px;
            @media (max-width: 480px) {
                font-size: 0.65em;
            }
        }
    }
}
