<ng-container *ngIf="gallery.state | async as state">
    <div class="g-directory-filler"></div>
    <div class="g-directories-container">
        <div
            class="g-directory"
            *ngFor="let dir of objectKeys(state.directories)"
            [ngClass]="{ visited: state.directories[dir].visited }"
            (click)="selectDirectory(dir)"
        >
            <div class="g-directory-photo" [lazyImage]="getImage(dir).src">
                <div class="g-state-text">{{ state.directories[dir].name }}<br/>{{ getImageCount(dir) }}</div>
            </div>
        </div>
    </div>
    <div class="g-directory-filler"></div>
</ng-container>
