<div class="images-container" *ngIf="images$ | async as images">
    <ng-container *ngIf="currentDirectoryId$ | async as directoryId">
        <div *ngFor="let columnImages of columnsImages" class="column">
            <div
                *ngFor="let image of columnImages"
                (click)="enableFullscreenMode(image.id, directoryId)"
                [style.flex-basis]="image.height + 'px'"
                class="image-container"
            >
                <img [src]="image.src" />
                <div class="background">
                    <ng-container *ngIf="image.liked">
                        <i class="material-icons" (click)="likeImage(image.id, $event)">favorite</i>
                        <p>{{ image.likes }}</p></ng-container
                    >
                    <ng-container *ngIf="!image.liked"
                        ><i class="material-icons" (click)="likeImage(image.id, $event)">favorite_border</i>
                        <p>{{ image.likes }}</p></ng-container
                    >
                </div>
            </div>
        </div>
    </ng-container>
</div>
<router-outlet></router-outlet>