<div #container class="g-thumb-container">

  <div class="g-thumbs">

    <div class="g-thumb" *ngFor="let image of getImages(); let i = index"
         [class.g-thumb-current]="i === state.currIndex"
         [style.width.px]="gallery.config.thumbnails.width"
         [style.height.px]="gallery.config.thumbnails.height"
         [tap] (tapClick)="selectImage(i)">

      <div class="g-thumb-image" [class.snapped]="image.snapped" [style.backgroundImage]="getThumbImage(i)">
          <i *ngIf="image.snapped" class="material-icons">check</i>
      </div>
    </div>

  </div>

</div>
