<div #container [@imgAnimate]="animate" class="g-image">
    <div class="g-image-container">
        <ng-container *ngIf="currentImage$ | async as currentImage">
            <div
                class="prev g-image-img"
                [lazyImage]="currentImage[0].src"
                [thumb]="currentImage[0].thumb"
                (lazyLoad)="imageLoad($event)"
            >
                <!-- <gallery-loader *ngIf="loading" [config]="config.loader"></gallery-loader> -->
            </div>
            <div
                class="g-image-img"
                [lazyImage]="currentImage[1].src"
                [thumb]="currentImage[1].thumb"
                (lazyLoad)="imageLoad($event)"
            >
                <!-- <gallery-loader *ngIf="loading" [config]="config.loader"></gallery-loader> -->
            </div>
            <div
                class="next g-image-img"
                [lazyImage]="currentImage[2].src"
                [thumb]="currentImage[2].thumb"
                (lazyLoad)="imageLoad($event)"
            >
                <!-- <gallery-loader *ngIf="loading" [config]="config.loader"></gallery-loader> -->
            </div>
        </ng-container>
    </div>
</div>
