:host {
    display: flex;
    font-size: 0.75em;
    background: black;
    width: 100%;
}
span {
    padding: 0.5em 0.75em;
    text-transform: uppercase;
}

%state-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.g-back-button {
    @extend %state-button;
    background: white;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    font-size: 1.5em;
    font-weight: 100;
    cursor: pointer;
    transition: background 0.25s, color 0.25s;
    &:hover {
        background: black;
        color: white;
    }
    div {
        padding: 0em 0.5em;
    }
}

.g-image-name {
    background: black;
    color: white;
}

.g-state-text {
    background: black;
    user-select: none;
    display: flex;
    flex-grow: 1;
    align-self: center;
    height: 100%;
    padding: 0px;
    align-items: center;
    color: white;
    .g-snapped-count {
        height: 100%;
    }
}

.g-state-button {
    @extend %state-button;
    cursor: pointer;
    background: black;
    color: white;
    transition: background 0.25s, color 0.25s;
    &:hover {
        background: white;
        color: black;
    }
}

.g-snapped-count {
    @extend %state-button;
    cursor: pointer;
    background: black;
    color: white;
    transition: background 0.25s, color 0.25s;
    &:hover {
        background: white;
        color: black;
    }
}
